[submodule "santedb-api"]
	path = santedb-api
	url = https://github.com/santedb/santedb-api
	branch = master
[submodule "santedb-model"]
	path = santedb-model
	url = https://github.com/santedb/santedb-model
	branch = master
[submodule "santedb-applets"]
	path = santedb-applets
	url = https://github.com/santedb/santedb-applets
	branch = master
[submodule "santedb-bre-js"]
	path = santedb-bre-js
	url = https://github.com/santedb/santedb-bre-js.git
	branch = master
[submodule "santedb-orm"]
	path = santedb-orm
	url = https://github.com/santedb/santedb-orm.git
	branch = master
[submodule "santedb-cdss"]
	path = santedb-cdss
	url = https://github.com/santedb/santedb-cdss
[submodule "restsrvr"]
	path = restsrvr
	url = https://github.com/santedb/restsrvr
[submodule "santedb-restsvc"]
	path = santedb-restsvc
	url = https://github.com/santedb/santedb-restsvc
[submodule "santedb-match"]
	path = santedb-match
	url = https://github.com/santedb/santedb-match
[submodule "santedb-bis"]
	path = santedb-bis
	url = https://github.com/santedb/santedb-bis
[submodule "santedb-mdm"]
	path = santedb-mdm
	url = https://github.com/santedb/santedb-mdm.git
[submodule "santedb-hl7"]
	path = santedb-hl7
	url = https://github.com/santedb/santedb-hl7
[submodule "santedb-gs1"]
	path = santedb-gs1
	url = https://github.com/santedb/santedb-gs1
[submodule "santedb-fhir"]
	path = santedb-fhir
	url = https://github.com/santedb/santedb-fhir
[submodule "santedb-openapi"]
	path = santedb-openapi
	url = https://github.com/santedb/santedb-openapi
[submodule "santedb-cache-memory"]
	path = santedb-cache-memory
	url = https://github.com/santedb/santedb-cache-memory
[submodule "santedb-cache-redis"]
	path = santedb-cache-redis
	url = https://github.com/santedb/santedb-cache-redis
[submodule "santedb-docker"]
	path = santedb-docker
	url = https://github.com/santedb/santedb-docker
[submodule "santedb-i18n"]
	path = santedb-i18n
	url = https://github.com/santedb/santedb-i18n
[submodule "santedb-client"]
	path = santedb-client
	url = https://github.com/santedb/santedb-client
[submodule "santedb-msmq"]
	path = santedb-msmq
	url = https://github.com/santedb/santedb-msmq.git
[submodule "santedb-rabbitmq"]
	path = santedb-rabbitmq
	url = https://github.com/santedb/santedb-rabbitmq.git
[submodule "santedb-data"]
	path = santedb-data
	url = https://github.com/santedb/santedb-data
[submodule "santedb-dc-core"]
	path = santedb-dc-core
	url = https://github.com/santedb/santedb-dc-core
[submodule "santedb-tools"]
	path = santedb-tools
	url = https://github.com/santedb/santedb-tools
[submodule "santedb-certs-bc"]
	path = santedb-certs-bc
	url = https://github.com/santedb/santedb-certs-bc.git

