<div class="container-fluid" ng-controller="CodeSystemCreatorController">
    <h1>Code System Tool</h1>
    <div ng-if="!current" class="row">
        <div class="col-sm-2">
            <button class="btn btn-info" type="button" ng-click="new()">
                <span class="glyphicon glyphicon-plus"></span> New</button>
        </div>
        <div class="col-sm-10">
            <div class="input-group">
                <div class="input-group-addon">Search:</div>
                <input type="text" ng-model="searchTerm" placeholder="Filter Code Systems" ng-change="filterResults(searchTerm)" class="form-control"
                />
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Domain</th>
                    <th>OID</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!codeSystems">
                    <td colspan="4" class="text-center">
                        <i class="fa fa-circle-notch fa-spin"></i> Loading...</td>
                </tr>
                <tr ng-repeat="cs in filteredCodeSystems">
                    <td>{{cs.authority}}</td>
                    <td>{{cs.oid}}</td>
                    <td>{{cs.name}}</td>
                    <td>
                        <button type="button" ng-click="selectCodeSystem(cs)" class="btn btn-primary">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="current" class="row">
        <div class="col-sm-12">
            <form ng-submit="createDataset(datasetForm)" novalidate="novalidate" name="datasetForm" class="form-horizontal">
                <fieldset class="form-horizontal">
                    <legend>Code System Information</legend>
                    <div class="form-group" ng-class="{ 'has-error' : datasetForm.nameInput.$invalid &amp;&amp; datasetForm.nameInput.$touched }">
                        <label for="nameInput" class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" required="required" name="nameInput" ng-model="current.name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : datasetForm.domainInput.$invalid &amp;&amp; datasetForm.domainInput.$touched }">
                        <label for="domainInput" class="col-sm-2 control-label">Domain (v2 CX.4):</label>
                        <div class="col-sm-10">
                            <input type="text" required="required" name="domainInput" ng-model="current.authority" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : datasetForm.oidInput.$invalid &amp;&amp; datasetForm.oidInput.$touched }">
                        <label for="oidInput" class="col-sm-2 control-label">ISO OID:</label>
                        <div class="col-sm-10">
                            <input type="text" required="required" name="oidInput" ng-model="current.oid" class="form-control" pattern="^(\d+?\.){1,}\d+$"
                            />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : datasetForm.urlInput.$invalid &amp;&amp; datasetForm.urlInput.$touched }">
                        <label for="urlInput" class="col-sm-2 control-label">URL:</label>
                        <div class="col-sm-10">
                            <input type="url" required="required" name="urlInput" ng-model="current.url" class="form-control" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-horizontal">
                    <legend>Reference Terms:</legend>
                    <div class="form-group" ng-class="{ 'has-error' : datasetForm.urlInput.$invalid &amp;&amp; datasetForm.urlInput.$touched }">
                        <label for="importInput" class="col-sm-2 control-label">Import Terms:</label>
                        <div class="col-sm-8">
                            <select name="importInput" ng-model="importTerms" class="form-control" style="width:100%" sdb-search="ConceptSet" data-url="{{$root.realm}}"
                                data-searchfield="mnemonic"></select>
                        </div>
                        <button class="col-sm-2 btn btn-info" type="button" ng-click="importTerms()">
                            <span class="glyphicon glyphicon-download"></span> Import</button>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width:15%">Mnemonic</th>
                                <th style="width:45%">Display</th>
                                <th style="width:30%">Concept</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="!current.refTerms">
                                <td colspan="4" class="text-center">
                                    <i class="fa fa-circle-notch fa-spin"></i> Loading...</td>
                            </tr>
                            <tr ng-repeat="ref in current.refTerms track by $index">
                                <td ng-class="{ 'has-error' : datasetForm['mnemonic' + $index].$invalid &amp;&amp; datasetForm['mnemonic' + $index].$touched }">
                                    <input name="mnemonic{{$index}}" type="text" ng-model="ref.term.mnemonic" required="required" class="form-control" />
                                </td>
                                <td ng-class="{ 'has-error' : datasetForm['name' + $index].$invalid &amp;&amp; datasetForm['name' + $index].$touched }">
                                    <div class="input-group" style="width:100%" ng-repeat="name in ref.term.name">
                                        <input name="name{{$index}}" type="text" ng-model="name.value" style="width:70%" required="required" class="form-control"
                                        />
                                        <select ng-model="name.language" required="required" class="form-control" style="width:25%">
                                            <option selected="selected" value="en">en</option>
                                            <option selected="selected" value="fr">fr</option>
                                            <option selected="selected" value="es">es</option>
                                            <option selected="selected" value="sw">sw</option>
                                        </select>
                                    </div>
                                </td>
                                <td ng-class="{ 'has-error' : datasetForm['concept' + $index].$invalid &amp;&amp; datasetForm['concept' + $index].$touched }">
                                    <select name="concept{{$index}}" ng-model="ref.concept.id" class="form-control" style="width:100%" sdb-search="Concept" data-url="{{$root.realm}}"
                                        data-searchfield="mnemonic">
                                        <option value="{{ref.concept.id}}" selected="selected">{{ref.concept.mnemonic}}</option>
                                    </select>
                                </td>
                                
                                <td>
                                    <button type="button" ng-if="$index > 0" class="btn btn-danger" ng-click="removeTerm($index)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                    <button type="button" class="btn btn-primary" ng-click="addTerm()">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
        <div class="col-sm-4 col-sm-offset-8">
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-primary" type="button" ng-click="download()">
                        <span class="glyphicon glyphicon-download"></span> Download</button>
                    <button class="btn btn-danger" type="button" ng-click="cancel()">
                        <span class="glyphicon glyphicon-remove"></span> Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>