<div class="container-fluid">
        <h1>Request Editor</h1>
        <form ng-submit="search(submitForm)" novalidate="novalidate" name="submitForm" class="form-horizontal">

            <fieldset ng-disabled="search.searching" class="form-horizontal">
                <legend>Query Settings:</legend>
                <div class="form-group">
                    <label for="resourceTypeInput" class="col-sm-2 control-label">Resource Type:</label>
                    <div class="col-sm-10">
                        <select  ng-class="{ 'has-error' : submitForm.resourceTypeInput.$invalid &amp;&amp; submitForm.resourceTypeInput.$touched }" required="required" name="resourceTypeInput" ng-model="search.resourceType" class="form-control">
                            <option ng-repeat="rt in $root.configuration.resources" ng-if="hasParameter(rt)" value="{{rt.resource}}">{{rt.resource}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Offset:</label>
                    <div class="col-sm-2">
                        <input min="0" ng-model="search.query._offset" class="form-control" type="number" />
                    </div>
                    <label class="col-sm-2 control-label">Count:</label>
                    <div class="col-sm-2">
                        <input min="0" ng-model="search.query._count" class="form-control" type="number" />
                    </div>
                    <div class="col-sm-4">
                        <div class="checkbox">
                            <label>
                                <input checked="checked" type="checkbox" ng-model="search.query._lean" ng-true-value="true" ng-false-value="false"> Lean
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Content Type:</label>
                    <div class="col-sm-2">
                        <select ng-model="search.contentType" class="form-control">
                            <option value="application/json+sdb-viewmodel">ViewModel</option>
                            <option value="application/json">JSON FastSync</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">View Model:</label>
                    <div class="col-sm-2">
                        <select ng-disabled="search.contentType != 'application/json+sdb-viewmodel'" ng-model="search.query._viewModel" class="form-control">
                            <option value="">Default</option>
                            <option value="min">Minimal</option>
                            <option value="full">Full</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Query UUID:</label>
                    <div class="col-sm-4" ng-class="{ 'has-error' : submitForm.queryId.$invalid &amp;&amp; submitForm.queryId.$touched }">
                        <input name="queryId"  ng-pattern="'^[A-Fa-f0-9]{8}\-[A-Fa-f0-9]{4}\-[A-Fa-f0-9]{4}\-[A-Fa-f0-9]{4}\-[A-Fa-f0-9]{12}$'" type="text" ng-model="search.query._queryId" class="form-control"/>
                        <p class="text-danger" ng-if="submitForm.queryId.$invalid &amp;&amp; submitForm.queryId.$touched">UUID must be in form xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</p>
                    </div>
                    <div class="col-sm-2">
                        <a href="https://www.uuidgenerator.net/" target="_blank">UUID Generator</a>
                    </div>
                </div>
            </fieldset>
            <fieldset ng-disabled="search.searching" class="form-horizontal" ng-show="search.resourceType">
                <legend>{{search.resourceType}} Filter:</legend>
                <table class="table table-striped">
                    <tr>
                        <th style="width:20%">Parameter</th>
                        <th style="width:10%">Op</th>
                        <th style="width:60%">Value</th>
                        <th style="width:10%"></th>
                    </tr>
                    <tr ng-repeat="itm in search.queryBuild track by $index">
                        <td ng-class="{ 'has-error' : submitForm['key' + $index].$invalid &amp;&amp; (submitForm['key' + $index].$touched || submitForm.$submitted)}">
                            <select required="required"
                                    class="form-control"
                                    ng-model="itm.key"
                                    ng-change="rebuildQuery()"
                                    name="key{{index}}">
                                <option ng-repeat="(k,i) in $root.configuration.parameters" ng-if="i.scope.indexOf(search.resourceType) > -1" value="{{k}}">{{i.name}}</option>
                            </select>
                        </td>
                        <td ng-class="{ 'has-error' : submitForm['op' + $index].$invalid &amp;&amp; ( submitForm['op' + $index].$touched  || submitForm.$submitted)}">
                            <select 
                                    required="required" 
                                    class="form-control" 
                                    ng-model="itm.op" 
                                    ng-change="rebuildQuery()"
                                    name="op{{$index}}"
                                >
                                <option selected="selected" value="=">==</option>
                                <option value="=!">!=</option>
                                <option ng-if="$root.configuration.types[$root.configuration.parameters[itm.key].type].ops.lt" value="=<"><</option>
                                <option ng-if="$root.configuration.types[$root.configuration.parameters[itm.key].type].ops.le" value="=<="><=</option>
                                <option ng-if="$root.configuration.types[$root.configuration.parameters[itm.key].type].ops.gt" value="=>">&gt;</option>
                                <option ng-if="$root.configuration.types[$root.configuration.parameters[itm.key].type].ops.ge" value="=>=">&gt;=</option>
                                <option ng-if="$root.configuration.types[$root.configuration.parameters[itm.key].type].ops.ap" value="=~">~</option>
                            </select>
                        </td>
                        <td ng-class="{ 'has-error' : submitForm['val' +$index].$invalid &amp;&amp; (submitForm['val' +$index].$touched || submitForm.$submitted) }">
                            <select ng-if="$root.configuration.parameters[itm.key].type == 'bool'"

                                    required="required"
                                    class="form-control"
                                    name="val{{$index}}"
                                    ng-model="itm.val">
                                <option value="false">False</option>
                                <option value="true">True</option>
                            </select>
                            <input 
                                    name="val{{$index}}"
                                   required="required"
                                   ng-if="$root.configuration.parameters[itm.key].type != 'bool' &amp;&amp; !$root.configuration.types[$root.configuration.parameters[itm.key].type].search" 
                                   class="form-control has-error" 
                                   ng-model="itm.val" 
                                   type="{{$root.configuration.parameters[itm.key].type}}" 
                                   />
                            <div ng-if="$root.configuration.parameters[itm.key].type != 'bool' &amp;&amp; $root.configuration.types[$root.configuration.parameters[itm.key].type].search">
                                <select 
                                    name="val{{$index}}"
                                        required="required"
                                        ng-model="itm.val" class="form-control"
                                        style="width:100%"
                                        sdb-search="{{$root.configuration.types[$root.configuration.parameters[itm.key].type].search}}"
                                        data-filter="{{$root.configuration.parameters[itm.key].searchFilter}}"
                                        data-url="{{$root.realm}}"
                                        data-searchfield="{{$root.configuration.types[$root.configuration.parameters[itm.key].type].searchField}}"></select>

                            </div>
                        </td>
                        <td>
                            <button type="button" ng-if="$index > 0" class="btn btn-danger" ng-click="removeTerm($index)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="addTerm()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </td>
                    </tr>
                </table>
                <div class="form-group">
                    <label class="col-sm-2 control-label">HDSI Query String:</label>
                    <div class="col-sm-10">
                        <textarea readonly="readonly" class="form-control">{{$root.realm}}/{{search.resourceType}}?{{buildQueryString()}}</textarea>
                    </div>
                </div>
            </fieldset>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group clearfix">
                            <button type="button" ng-click="reset()" ng-disabled="search.searching" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Clear</button>
                            <button type="submit" ng-disabled="search.searching || !search.resourceType" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="search.searching">
                    <div class="col-md-12" style="text-align:center">
                        <i class="fa fa-circle-notch fa-spin"></i>
                        Executing Query
                    </div>
                </div>
            </div>
            <fieldset ng-if="results">
                <legend>Query Results ({{results.offset}} .. {{results.count}} of {{results.totalResults}} in {{results.ttr}} ms)</legend>
                <table class="table table-striped">
                    <thead>
                        <tr ng-if="['Entity','Organization','Patient','Person','Provider','UserEntity','Place','Material','ManufacturedMaterial'].indexOf(search.resourceType) > -1">
                            <th>SN#</th>
                            <th>Key</th>
                            <th>Type</th>
                            <th>Class</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th></th>
                        </tr>
                        <tr ng-if="['Act','SubstanceAdministration','QuantityObservation','CodedObservation','TextObservation','PatientEncounter','Procedure'].indexOf(search.resourceType) > -1">
                            <th>SN#</th>
                            <th>Key</th>
                            <th>Type</th>
                            <th>Class / Sub-Class</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                        <tr ng-if="search.resourceType == 'Concept'">
                            <th>SN#</th>
                            <th>Key</th>
                            <th>Mnemonic</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="res in results.item track by $index">
                            <td>{{$index + 1}}</td>
                            <td>{{res.id}}</td>
                            <td ng-if="search.resourceType != 'Concept'">{{res.$type}}</td>
                            <td ng-if="search.resourceType != 'Concept'">{{res.classConceptModel | sdbConcept}}{{res.typeConceptModel | sdbConcept}}</td>
                            <td ng-if="['Entity','Organization','Patient','Person','Provider','UserEntity','Place','Material','ManufacturedMaterial'].indexOf(search.resourceType) > -1">{{res.name | sdbEntityName}}</td>
                            <td ng-if="['Entity','Organization','Patient','Person','Provider','UserEntity','Place','Material','ManufacturedMaterial'].indexOf(search.resourceType) > -1">{{res.address | sdbEntityAddress }}</td>
                            <td ng-if="['Act','SubstanceAdministration','QuantityObservation','CodedObservation','TextObservation','PatientEncounter','Procedure'].indexOf(search.resourceType) > -1">
                                <div ng-if="res.actTime">
                                    {{res.actTime}}
                                </div>
                            </td>
                            <td ng-if="search.resourceType == 'Concept'">{{res.mnemonic}}</td>
                            <td ng-if="search.resourceType == 'Concept'">{{res | sdbConcept}}</td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </form>
    </div>