<?xml version="1.0" encoding="utf-8" ?>
<!--
 - Copyright 2015-2018 Mohawk College of Applied Arts and Technology
 - 
 - 
 - Licensed under the Apache License, Version 2.0 (the "License"); you 
 - may not use this file except in compliance with the License. You may 
 - obtain a copy of the License at 
 - 
 - http://www.apache.org/licenses/LICENSE-2.0 
 - 
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 - WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the 
 - License for the specific language governing permissions and limitations under 
 - the License.
 - 
 - User: justin
 - Date: 2018-7-23
 -->
<Plugin xmlns="http://santedb.org/package">
  <meta>
    <id>SanteDB.Core</id>
    <group>Core</group>
    <name>SanteDB Core</name>
    <description>The core of the SanteDB clinical data repository service</description>
    <author>Mohawk College of Applied Arts and Technology</author>
    <version>1.10.0.0</version>
    <default>true</default>
  </meta>
  <files>
    <add>SanteDB.Core.dll</add>
    <add>SanteDB.exe</add>
    <add>SanteDB.BusinessRules.JavaScript.dll</add>
    <add>SanteDB.Core.Api.dll</add>
    <add>SanteDB.Core.Applets.dll</add>
  </files>
  <services>
    <add>
      <class>SanteDB.Core.Services.Impl.FileConfigurationService, SanteDB.Core</class>
      <provides>IConfigurationManager</provides>
      <configuration sectionName="santedb.core" sectionType="SanteDB.Core.Configuration.ConfigurationSectionHandler, SanteDB.Core">
        <group name="threading" required="true">
          <setting name="poolSize" type="number">
            <label>Thread Pool Size</label>
            <description>The number of threads in the global thread pool to allocate to SanteDB</description>
          </setting>
        </group>
        <group name="security" maxOccurs="1" required="true">
          <label>Security Properties</label>
          <choice required="true">
            <label>Authentication</label>
            <group name="basic">
              <label>Basic Authentication</label>
              <setting name="requireClientAuth" type="boolean">
                <label>Require Clients to Authenticate</label>
                <description>When enabled, requires a client to also authenticate in addition to the user</description>
              </setting>
              <setting name="realm" type="string">
                <label>Authentication Realm</label>
                <description>Sets the authentication realm</description>
              </setting>
            </group>
            <group name="token">
              <label>JWT Token Based Authentication</label>
              <setting name="realm" type="string">
                <label>Authentication Realm</label>
                <description>Sets the authentication realm</description>
              </setting>
              <group name="issuer" maxOccurs="*">
                <label>Token Issuers</label>
                <setting name="name" type="string">
                  <label>Issuer ID</label>
                  <description>The unique identifier of the issuer of the token</description>
                </setting>
                <setting name="symmetricSecret" type="password">
                  <label>Symmetric Secret</label>
                  <description>The HMAC256 signing secret used by the IdP which can be used to validate the token</description>
                </setting>
                <setting type="certificate">
                  <label>X.509 Certificate</label>
                  <description>If the token is signed with an RSA certificate, this is the key which can be used to verify</description>
                </setting>
              </group>
            </group>
          </choice> 
          <group name="applet" maxoccurs="1" required="true">
              <setting name="allowUnsignedApplets" type="boolean">
                <label>Allow Unsigned Applets</label>
                <description>Allow unsigned applets to be installed on this server</description>
              </setting>
              <group name="trustedPublishers" maxOccurs="*">
                <setting name="." type="string">
                  <label>Publisher Key</label>
                  <description>Add the publisher's signing key here to trust the publisher applets</description>
                </setting>
              </group>
            </group>
          <group name="signing" required="true" maxOccurs="1">
            <label>SanteDB Data Signing</label>
            <choice>
              <label>Data Signing Mode</label>
              <group name="symmetric">
                <label>Symmetric Key</label>
                <setting name="secret" type="password">
                  <label>Secret</label>
                  <description>The symmetric key secret to use for signing</description>
                </setting>
              </group>
              <group name="certificate">
                <label>Certificate Signing</label>
                <setting type="certificate">
                  <label>Certificate</label>
                  <description>The X.509 certificate to use for signing data and tokens</description>
                </setting>
              </group>
            </choice>
          </group>
          <setting name="passwordRegex" type="string">
            <label>Password / Secret Validation</label>
            <description>When set, indicates the pattern to which passwords and application secrets must adhere.</description>
          </setting>
        </group>
      </configuration>
    </add>
    <add>
      <class>SanteDB.Core.Services.Impl.FileSystemQueueService, SanteDB.Core</class>
      <provides>IPersistentQueueService</provides>
    </add>
    <add>
      <class>SanteDB.Core.Security.SHA256PasswordHashingService, SanteDB.Core</class>
      <provides>IPasswordHashingService</provides>
    </add>
    <add>
      <class>SanteDB.Core.Security.SHA1PasswordHashingService, SanteDB.Core</class>
      <provides>IPasswordHashingService</provides>
    </add>
    <add>
      <class>SanteDB.Core.Security.MD5PasswordHashingService, SanteDB.Core</class>
      <provides>IPasswordHashingService</provides>
    </add>
    <add>
      <class>SanteDB.Core.Security.PlainPasswordHashingService, SanteDB.Core</class>
      <provides>IPasswordHashingService</provides>
    </add>
    <add>
      <class>SanteDB.Core.Query.MemoryQueryPersistenceService, SanteDB.Core</class>
      <provides>IQueryPersistenceService</provides>
    </add>
  </services>
</Plugin>