<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="marc.hi.ehrs.svc.core" type="MARC.HI.EHRS.SVC.Core.Configuration.HostConfigurationSectionHandler, MARC.HI.EHRS.SVC.Core, Version=2.0.0.0" />
    <section name="santedb.core" type="SanteDB.Core.Configuration.ConfigurationSectionHandler, SanteDB.Core, Version=0.6.0.0" />
    <section name="santedb.caching.memory" type="SanteDB.Caching.Memory.Configuration.ConfigurationSectionHandler, SanteDB.Caching.Memory, Version=0.6.0.0" />
    <section name="santedb.persistence.data.ado" type="SanteDB.Persistence.Data.ADO.Configuration.AdoConfigurationSectionHandler, SanteDB.Persistence.Data.ADO, Version=0.6.0.0" />
    <section name="santedb.mdm" type="SanteDB.Persistence.MDM.Configuration.ConfigurationSectionHandler, SanteDB.Persistence.MDM, Version=1.0.0.0"/>
  </configSections>

  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="PostgreSQL Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
      <add name="Firebird Data Provider" invariant="Fbsql" description="Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient, Version=5.12.1.0, Culture=neutral, PublicKeyToken=3750abcc3150b00c" />
    <remove invariant="FirebirdSql.Data.FirebirdClient" /><add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" /></DbProviderFactories>
  </system.data>
  <santedb.mdm>
    <resources>
      <add resource="Patient" autoMerge="true" matchConfiguration="default" />
    </resources>
  </santedb.mdm>
  <santedb.caching.memory autoRegister="true">
    <cacheTarget>
      <add type="SanteDB.Core.Model.DataTypes.Concept, SanteDB.Core.Model, Version=0.6.0.0" maxAge="10:00:00:00" maxSize="2000">
        <seed>
          <add>statusConcept.mnemonic=ACTIVE</add>
        </seed>
      </add>
      <add type="SanteDB.Core.Model.Entities.Place, SanteDB.Core.Model, Version=0.6.0.0" maxAge="10:00:00:00" maxSize="2000">
        <seed>
          <add>statusConcept.mnemonic=ACTIVE</add>
        </seed>
      </add>
      <add type="SanteDB.Core.Model.Entities.ManufacturedMaterial, SanteDB.Core.Model, Version=0.6.0.0" maxAge="10:00:00:00" maxSize="2000">
        <seed>
          <add>statusConcept.mnemonic=ACTIVE</add>
        </seed>
      </add>
    </cacheTarget>
  </santedb.caching.memory>
  <santedb.core>
    <threading poolSize="16" />
  </santedb.core>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="SanteDB.OrmLite" switchValue="Error">
        <listeners>
          <add name="rollOver" />
          <add name="console" />
        </listeners>
      </source>
      <source name="SanteDB.Persistence.Data.ADO" switchValue="Information">
        <listeners>
          <add name="rollOver" />
          <add name="console" />
        </listeners>
      </source>
      <source name="SanteDB.Persistence.Data.ADO.Services.Identity" switchValue="Error">
        <listeners>
          <add name="console" />
          <add name="rollOver" />

        </listeners>
      </source>
      <source name="SanteDB.Core.Model.Map" switchValue="Error">
        <listeners>
          <add name="console" />
          <add name="rollOver" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
      <add name="rollOver" type="MARC.HI.EHRS.SVC.Core.Logging.RollOverTextWriterTraceListener, MARC.HI.EHRS.SVC.Core, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" initializeData="c:\temp\test.log">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error, Information, Warning, Verbose" />
      </add>

    </sharedListeners>
  </system.diagnostics>
  <santedb.persistence.data.ado>
    <connectionManager readonlyConnection="TestDb" readWriteConnection="TestDb" traceSql="true" autoInsertChildren="true" provider="SanteDB.OrmLite.Providers.Firebird.FirebirdSQLProvider, SanteDB.OrmLite, Version=0.6.0.0" />
  </santedb.persistence.data.ado>
  <marc.hi.ehrs.svc.core>
    <serviceProviders>
      <add type="SanteDB.Persistence.Data.ADO.Services.AdoPersistenceService, SanteDB.Persistence.Data.ADO, Version=0.6.0.0" />
      <add type="SanteDB.Persistence.Data.ADO.Services.AdoPolicyInformationService, SanteDB.Persistence.Data.ADO, Version=0.6.0.0" />
      <add type="SanteDB.Persistence.Data.ADO.Services.AdoRoleProvider, SanteDB.Persistence.Data.ADO, Version=0.6.0.0" />
      <add type="SanteDB.Persistence.Data.ADO.Services.AdoIdentityProvider, SanteDB.Persistence.Data.ADO, Version=0.6.0.0" />
      <add type="SanteDB.Core.Security.SHA256PasswordHashingService, SanteDB.Core, Version=0.6.0.0" />
      <add type="SanteDB.Core.Security.LocalPolicyDecisionService, SanteDB.Core, Version=0.6.0.0" />
      <add type="SanteDB.Core.Services.Impl.LocalSecurityRepositoryService, SanteDB.Core, Version=0.6.0.0" />
      <add type="SanteDB.Caching.Memory.MemoryCacheService, SanteDB.Caching.Memory, Version=0.6.0.0" />
      <add type="SanteDB.Core.Services.Impl.ThreadPoolService, SanteDB.Core, Version=0.6.0.0" />
      <add type="SanteDB.Persistence.MDM.Test.DummyMatcherService, SanteDB.Persistence.MDM.Test, Version=1.0.0.0"/>
      <add type="SanteDB.Persistence.MDM.Services.MdmDaemonService, SanteDB.Persistence.MDM, Version=1.0.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalTagPersistenceService, SanteDB.Core, Version=1.0.0.0"/>
    </serviceProviders>
  </marc.hi.ehrs.svc.core>
  <connectionStrings>
    <add name="TestDb" connectionString="initial catalog=|DataDirectory|\santedb_test.fdb;server type=Embedded;user id=sysdba" providerName="Fbsql" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
