<!--
 - Copyright 2015-2018 Mohawk College of Applied Arts and Technology
 - 
 - 
 - Licensed under the Apache License, Version 2.0 (the "License"); you 
 - may not use this file except in compliance with the License. You may 
 - obtain a copy of the License at 
 - 
 - http://www.apache.org/licenses/LICENSE-2.0 
 - 
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 - WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the 
 - License for the specific language governing permissions and limitations under 
 - the License.
 - 
 - User: justin
 - Date: 2018-6-22
 -->
<Plugin xmlns="http://santedb.org/package">
	<meta>
    <id>SanteDB.Caching.Memory</id>
		<group>Performance</group>
		<name>Local Memory Cache</name>
		<description>Represents a simple memory cache which is capable of using the local computer's memory for caching of data</description>
		<author>Mohawk College of Applied Arts and Technology</author>
		<version>1.9.0</version>
		<default>true</default>
	</meta>
  <dependencies>
    <dependency id="SanteDB.Core" version="1.1.0"/>
  </dependencies>
	<files>
		<add>SanteDB.Caching.Memory.dll</add>
	</files>
	<services>
		<add>
			<class>SanteDB.Caching.Redis.MemoryCacheService, SanteDB.Caching.Memory</class>
			<provides>IDataCachingService</provides>
			<configuration sectionName="santedb.caching.memory" handler="SanteDB.Caching.Memory.Configuration.ConfigurationSectionHandler, SanteDB.Caching.Memory">
				<group maxOccurs="1" required="true">
					<label>Core Properties</label>
					<setting name="maxAge" type="time" required="true">
						<label>Maximum Object Age</label>
						<description>Instructs the memory cache to hold onto items for the specified amount of time</description>
					</setting>
					<setting name="maxSize" type="integer" minValue="1000" maxValue="10000" required="true">
						<label>Maximum Cache Size</label>
						<description>Identifies the maximum size of the memory cache</description>
					</setting>
					<setting name="autoRegister" type="boolean" default="true" required="true">
						<label>Automatically Enrol Types</label>
						<description>When true, indicates that the memory cache should store all types of data</description>
					</setting>
				</group>
			</configuration>
		</add>
	</services>
</Plugin>