<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="marc.hi.ehrs.svc.core" type="Configuration.HostConfigurationSectionHandler, MARC.HI.EHRS.SVC.Core"/>
    <section name="santedb.core" type="SanteDB.Core.Configuration.ConfigurationSectionHandler, SanteDB.Core, Version=0.6.0.0"/>
    <section name="santedb.caching.memory" type="SanteDB.Caching.Memory.Configuration.ConfigurationSectionHandler, SanteDB.Caching.Memory, Version=0.6.0.0"/>
    <section name="santedb.persistence.data.ado" type="SanteDB.Persistence.Data.ADO.Configuration.AdoConfigurationSectionHandler, SanteDB.Persistence.Data.ADO, Version=0.6.0.0"/>
    <section name="marc.hi.ehrs.svc.messaging.hapi" type="SanteDB.Messaging.HL7.Configuration.ConfigurationSectionHandler, SanteDB.Messaging.HL7, Version=2.0.0.0"/>

  </configSections>

  <marc.hi.ehrs.svc.messaging.hapi security="Sft4">

  </marc.hi.ehrs.svc.messaging.hapi>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="PostgreSQL Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
      <add name="Firebird Data Provider" invariant="Fbsql" description="Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient, Version=5.12.1.0, Culture=neutral, PublicKeyToken=3750abcc3150b00c" />
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
    </DbProviderFactories>

  </system.data>
  <santedb.caching.memory autoRegister="true">
    <cacheTarget>
      <add type="SanteDB.Core.Model.DataTypes.Concept, SanteDB.Core.Model, Version=0.6.0.0" maxAge="10:00:00:00" maxSize="2000">
        <seed>
          <add>statusConcept.mnemonic=ACTIVE</add>
        </seed>
      </add>
      <add type="SanteDB.Core.Model.Entities.Place, SanteDB.Core.Model, Version=0.6.0.0" maxAge="10:00:00:00" maxSize="2000">
        <seed>
          <add>statusConcept.mnemonic=ACTIVE</add>
        </seed>
      </add>
      <add type="SanteDB.Core.Model.Entities.ManufacturedMaterial, SanteDB.Core.Model, Version=0.6.0.0" maxAge="10:00:00:00" maxSize="2000">
        <seed>
          <add>statusConcept.mnemonic=ACTIVE</add>
        </seed>
      </add>
    </cacheTarget>
  </santedb.caching.memory>
  <santedb.core>
    <threading poolSize="16"/>
      <security>
        <signing>

          <!--<certificate storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" findValue="d877626afbacb63993cfbd65fafcfef36ba6a4f1"/>-->
          <!--
      <certificate storeLocation="Local" storeName="" x509FindType="" findValue=""/>
      -->
          <symmetric key="7Xs2bnXWqkSGQcr3s5S92vl32I+URZCgQIi7BBTxWq0="/>
        </signing>
        <token realm="localhost">
          <audience>
            <add name="http://localhost:8080/hdsi"/>
            <add name="http://localhost:8080/ami"/>
            <add name="http://127.0.0.1:8080/hdsi"/>
            <add name="http://127.0.0.1:8080/ami"/>
            <add name="http://fyfej-yoga:8080/hdsi"/>
            <add name="http://fyfej-yoga:8080/ami"/>
            <add name="http://192.168.0.101:8080/ami"/>
            <add name="http://192.168.0.101:8080/hdsi"/>
            <add name="http://192.168.137.172:8080/hdsi"/>
            <add name="http://192.168.137.172:8080/ami"/>
            <add name="http://142.222.97.55:8080/hdsi"/>
            <add name="http://142.222.97.55:8080/ami"/>
            <add name="http://nityan-pc:8080/hdsi" />
            <add name="http://nityan-pc:8080/ami" />
            <add name="http://marc-w6-1.marc-hi.ca:8080/hdsi" />
            <add name="http://marc-w6-1.marc-hi.ca:8080/ami" />
            <add name="https://marc-w6-1.marc-hi.ca:8080/hdsi" />
            <add name="https://marc-w6-1.marc-hi.ca:8080/ami" />
          </audience>
          <issuer>
            <add name="http://142.222.97.55:8080/auth" symmetricKey="7Xs2bnXWqkSGQcr3s5S92vl32I+URZCgQIi7BBTxWq0="/>
          </issuer>
        </token>
        <basic requireClientAuth="true" realm="192.168.0.102">
          <allowedClaims>
            <add claimType="urn:oasis:names:tc:xacml:2.0:action:purpose"/>
          </allowedClaims>
        </basic>
      </security>
    </santedb.core>
    <system.diagnostics>
      <trace autoflush="true"/>
      <sources>
        <source name="SanteDB.OrmLite" switchValue="Error">
          <listeners>
            <add name="rollOver"/>
            <add name="console"/>
          </listeners>
        </source>
        <source name="SanteDB.Persistence.Data.ADO" switchValue="Information">
          <listeners>
            <add name="rollOver"/>
            <add name="console"/>
          </listeners>
        </source>
        <source name="SanteDB.Persistence.Data.ADO.Services.Identity" switchValue="Error">
          <listeners>
            <add name="console"/>
            <add name="rollOver"/>

          </listeners>
        </source>
        <source name="SanteDB.Core.Model.Map" switchValue="Error">
          <listeners>
            <add name="console"/>
            <add name="rollOver"/>
          </listeners>
        </source>
      </sources>
      <sharedListeners>
        <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
        <add name="rollOver" type="Logging.RollOverTextWriterTraceListener, MARC.HI.EHRS.SVC.Core, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" initializeData="c:\temp\test.log">
          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error, Information, Warning, Verbose"/>
        </add>

      </sharedListeners>
    </system.diagnostics>
    <santedb.persistence.data.ado>
      <connectionManager readonlyConnection="TestDb" readWriteConnection="TestDb" traceSql="true" autoInsertChildren="true" provider="SanteDB.OrmLite.Providers.Firebird.FirebirdSQLProvider, SanteDB.OrmLite, Version=0.6.0.0"/>
    </santedb.persistence.data.ado>
    <marc.hi.ehrs.svc.core>
      <custodianship>
        <name>SanteDB</name>
        <!-- Identifies the domain under which identifiers are reported from this registry -->
        <id value="SanteDB1"/>
      </custodianship>
      <serviceProviders>
        <add type="SanteDB.Persistence.Data.ADO.Services.AdoApplicationIdentityProvider, SanteDB.Persistence.Data.ADO, Version=1.1.0.0"/>
        <add type="SanteDB.Persistence.Data.ADO.Services.AdoDeviceIdentityProvider, SanteDB.Persistence.Data.ADO, Version=1.1.0.0"/>
        <add type="SanteDB.Persistence.Data.ADO.Services.AdoPersistenceService, SanteDB.Persistence.Data.ADO, Version=0.6.0.0"/>
        <add type="SanteDB.Persistence.Data.ADO.Services.AdoPolicyInformationService, SanteDB.Persistence.Data.ADO, Version=0.6.0.0"/>
        <add type="SanteDB.Persistence.Data.ADO.Services.AdoRoleProvider, SanteDB.Persistence.Data.ADO, Version=0.6.0.0"/>
        <add type="SanteDB.Persistence.Data.ADO.Services.AdoIdentityProvider, SanteDB.Persistence.Data.ADO, Version=0.6.0.0"/>
        <add type="SanteDB.Persistence.Data.ADO.Services.AdoSessionProvider, SanteDB.Persistence.Data.ADO, Version=1.1.0.0"/>
        <add type="SanteDB.Core.Security.SHA256PasswordHashingService, SanteDB.Core, Version=0.6.0.0"/>
        <add type="SanteDB.Core.Security.LocalPolicyDecisionService, SanteDB.Core, Version=0.6.0.0"/>
        <add type="SanteDB.Caching.Memory.MemoryCacheService, SanteDB.Caching.Memory, Version=0.6.0.0"/>
        <add type="SanteDB.Core.Services.Impl.ThreadPoolService, SanteDB.Core, Version=0.6.0.0"/>


        <add type="SanteDB.Core.Services.Impl.LocalTagPersistenceService, SanteDB.Core, Version=1.1.0.0"/>
        <add type="SanteDB.Core.Services.Impl.LocalConceptRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
        <add type="SanteDB.Core.Services.Impl.LocalPatientRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
        <add type="SanteDB.Core.Services.Impl.NullPhoneticAlgorithmHandler, SanteDB.Core.Api, Version=1.1.0.0"/>
        <add type="SanteDB.Core.Services.Impl.LocalSecurityRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
        <add type="SanteDB.Core.Services.Impl.LocalMaterialRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
        <add type="SanteDB.Core.Services.Impl.LocalPlaceRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
        <add type="SanteDB.Core.Services.Impl.LocalProviderRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
        <add type="SanteDB.Core.Services.Impl.LocalPersonRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
        <add type="SanteDB.Core.Services.Impl.LocalMetadataRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
        <add type="SanteDB.Core.Services.Impl.LocalActRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
        <add type="SanteDB.Core.Services.Impl.LocalMailMessageRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
        <add type="SanteDB.Core.Services.Impl.LocalOrganizationRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
        <add type="SanteDB.Core.Services.Impl.LocalIdentifierTypeRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
        <add type="SanteDB.Core.Services.Impl.LocalAssigningAuthorityRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
        <add type="SanteDB.Core.Services.Impl.LocalStockManagementRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
        <add type="SanteDB.Core.Services.Impl.LocalEntityRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
        <add type="SanteDB.Core.Services.Impl.LocalBatchRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
        <add type="SanteDB.Core.Services.Impl.LocalServiceManager, SanteDB.Core, Version=1.1.0.0"/>
      </serviceProviders>
    </marc.hi.ehrs.svc.core>
    <connectionStrings>
      <add name="TEST_CONNECTION" connectionString="initial catalog=|DataDirectory|\santedb_test.fdb;server type=Embedded;user id=sysdba" providerName="Fbsql"/>
    </connectionStrings>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  </configuration>
