<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet" oc-lazy-load="{ name: 'FhirConfigurationController', files: ['/org.santedb.fhir/controllers/config/fhir.js'] }">
    <sdb:widget name="org.santedb.fhir" type="Tab" context="Configuration">
        <sdb:icon>fas fa-exchange-alt</sdb:icon>
        <sdb:description lang="en">Configuration of FHIR Interface</sdb:description>
    </sdb:widget>
    <div ng-controller="FhirConfigurationController">

        <div class="alert alert-danger" ng-if="!fhirConfig">
            <i class="fa fa-exclamation-triangle"></i> {{ 'ui.config.hl7.noConfig' | i18n }}
        </div>
        <div class="form-group row" ng-if="fhirConfig">
            <label class="col-md-2 col-xs-12 control-label" for="fhirEndpoint" id="fhirEndpointLabel">{{ 'ui.config.fhir.endpoint.label' | i18n }}</label>
            <div class="col-md-10 col-xs-12">
                <input ng-model="serviceConfig.services[0].address" ng-required="true" placeholder="http://127.0.0.1:8080/fhir" autocorrect="off"
                    autocomplete="off" autocapitalize="off" spellcheck="false" class="form-control" type="url" name="fhirEndpoint"
                    id="fhirEndpoint" aria-describedby="fhirEndpointLabel" />
                <div class="form-text text-muted">
                    {{ 'ui.config.fhir.endpoint.help' | i18n }}
                </div>
            </div>
        </div>
    </div>

</div>