<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet" oc-lazy-load="{ name: 'HL7ConfigurationController', files: ['/org.santedb.hl7/controllers/config/hl7.js'] }">
    <sdb:widget name="org.santedb.hl7" type="Tab" context="org.santedb.config.init">
        <sdb:icon>fas fa-exchange-alt</sdb:icon>
        <sdb:description lang="en">Configuration of HL7v2 Interface</sdb:description>
    </sdb:widget>
    <div ng-controller="HL7ConfigurationController">

        <div class="alert alert-danger" ng-if="!hl7Config">
            <i class="fa fa-exclamation-triangle"></i> {{ 'ui.config.hl7.noConfig' | i18n }}
        </div>
        <div class="form-group row" ng-if="hl7Config">
            <label class="col-md-2 col-xs-12 control-label" for="localAuth" id="localAuthLabel">{{ 'ui.config.hl7.localAuth.label' | i18n }}</label>
            <div class="col-md-10 col-xs-12">
                <input ng-model="hl7Config.localAuthority.domainName" ng-required="true" placeholder="LOCAL_AUTHORITY" ng-pattern="/^[A-Za-z][A-Za-z.0-9-_]{3,10}$/i"
                    autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false" class="form-control" type="text"
                    name="localAuth" id="localAuth" aria-describedby="localAuthLabel" />
                <div class="form-text text-muted">
                    {{ 'ui.config.hl7.localAuth.help' | i18n }}
                </div>
            </div>
        </div>
        <div class="form-group row" ng-if="hl7Config">
            <label for="hl7Facility" class="col-md-2 col-xs-12 control-label">{{ 'ui.config.hl7.place.label' | i18n }}</label>
            <div class="col-md-10 col-xs-12">

                <entity-search type="Place" style="height:3em;" class="form-control" name="hl7Facility" ng-model="hl7Config.facility" filter='{ "statusConcept.mnemonic" : "ACTIVE", "classConcept.mnemonic" : "ServiceDeliveryLocation" }'
                />
                <div class="form-text text-muted">
                    {{ 'ui.config.hl7.place.help' | i18n }}
                </div>
            </div>
        </div>
        <div class="form-group row" ng-if="hl7Config">
            <label class="col-md-2 col-xs-12 control-label" for="securityHl7" id="securityHl7Label">{{ 'ui.config.hl7.security.label' | i18n }}</label>
            <div class="col-md-10 col-xs-12">
                <select ng-model="hl7Config.security" ng-required="true" class="form-control" name="securityHl7" id="securityHl7" aria-describedby="securityHl7Label">
                    <option value="Msh8">MSH-8 Authorization Token</option>
                    <option value="Sft4">SFT-4 Application Token / MSH-8 Device Token</option>
                    <option value="None">None</option>
                </select>
                <div class="form-text text-muted">
                    {{ 'ui.config.hl7.security.help' | i18n }}
                </div>
            </div>
        </div>
        <div class="form-group row" ng-if="hl7Config">
            <label class="col-md-2 col-xs-12 control-label" for="hl7Endpoint" id="hl7EndpointLabel">{{ 'ui.config.hl7.endpoint.label' | i18n }}</label>
            <div class="col-md-10 col-xs-12">
                <input ng-model="hl7Config.services[0].address" ng-required="true" placeholder="llp://127.0.0.1:12100" autocorrect="off"
                    autocomplete="off" autocapitalize="off" spellcheck="false" class="form-control" type="url" name="hl7Endpoint"
                    id="hl7Endpoint" aria-describedby="hl7EndpointLabel" />
                <div class="form-text text-muted">
                    {{ 'ui.config.hl7.endpoint.help' | i18n }}
                </div>
            </div>
        </div>
    </div>

</div>