<?xml version="1.0" encoding="utf-8"?>
<!--
 - Copyright 2015-2018 Mohawk College of Applied Arts and Technology
 - 
 - 
 - Licensed under the Apache License, Version 2.0 (the "License"); you 
 - may not use this file except in compliance with the License. You may 
 - obtain a copy of the License at 
 - 
 - http://www.apache.org/licenses/LICENSE-2.0 
 - 
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 - WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the 
 - License for the specific language governing permissions and limitations under 
 - the License.
 - 
 - User: fyfej
 - Date: 2017-9-1
 -->
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral"/>
    <section name="marc.hi.ehrs.svc.core" type="MARC.HI.EHRS.SVC.Core.Configuration.HostConfigurationSectionHandler, MARC.HI.EHRS.SVC.Core, Version=2.0.0.0"/>
    <section name="santedb.persistence.data.mssql" type="SanteDB.Persistence.Data.MSSQL.Configuration.SqlConfigurationSectionHandler, SanteDB.Persistence.Data.MSSQL, Version=1.1.0.0"/>
    <section name="santedb.messaging.hdsi" type="SanteDB.Messaging.HDSI.Configuration.HdsiConfigurationSectionHandler, SanteDB.Messaging.HDSI, Version=1.1.0.0"/>
    <section name="santedb.reporting.core" type="SanteDB.Reporting.Core.Configuration.ReportingConfigurationSectionHandler, SanteDB.Reporting.Core, Version=1.1.0.0"/>
    <section name="santedb.reporting.jasper" type="SanteDB.Reporting.Jasper.Configuration.JasperConfigurationSectionHandler, SanteDB.Reporting.Jasper, Version=1.1.0.0"/>
    <section name="santedb.authentication.oauth2" type="SanteDB.Authentication.OAuth2.Configuration.ConfigurationSectionHandler, SanteDB.Authentication.OAuth2, Version=1.1.0.0"/>
    <section name="santedb.core" type="SanteDB.Core.Configuration.ConfigurationSectionHandler, SanteDB.Core, Version=1.1.0.0"/>
    <section name="marc.hi.ehrs.svc.messaging.fhir" type="MARC.HI.EHRS.SVC.Messaging.FHIR.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.SVC.Messaging.FHIR, Version=2.0.0.0"/>
    <section name="santedb.messaging.ami" type="SanteDB.Messaging.AMI.Configuration.AmiConfigurationSectionHandler, SanteDB.Messaging.AMI, Version=1.1.0.0"/>
    <section name="santedb.caching.memory" type="SanteDB.Caching.Memory.Configuration.ConfigurationSectionHandler, SanteDB.Caching.Memory, Version=1.1.0.0"/>
    <section name="marc.hi.svc.core.timer" type="MARC.HI.EHRS.SVC.Core.Timer.Configuration.TimerConfigurationSectionHandler, MARC.HI.EHRS.SVC.Core.Timer, Version=2.0.0.0"/>
    <section name="santedb.persistence.data.ado" type="SanteDB.Persistence.Data.ADO.Configuration.AdoConfigurationSectionHandler, SanteDB.Persistence.Data.ADO, Version=1.1.0.0"/>
    <section name="marc.hi.ehrs.svc.messaging.hapi" type="MARC.HI.EHRS.SVC.Messaging.HAPI.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.SVC.Messaging.HAPI, Version=2.0.0.0"/>
    <section name="marc.hi.ehrs.svc.messaging.multi" type="MARC.HI.EHRS.SVC.Messaging.Multi.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.SVC.Messaging.Multi, Version=2.0.0.0"/>
    <section name="santedb.persistence.diagnostics.jira" type="SanteDB.Persistence.Diagnostics.Jira.Configuration.ConfigurationSectionHandler, SanteDB.Persistence.Diagnostics.Jira, Version=1.1.0.0"/>
    <section name="santedb.core.security.tfa.email" type="SanteDB.Core.Security.Tfa.Email.Configuration.ConfigurationSectionHandler, SanteDB.Core.Security.Tfa.Email, Version=1.1.0.0"/>
    <section name="santedb.core.security.tfa.twilio" type="SanteDB.Core.Security.Tfa.Twilio.Configuration.ConfigurationSectionHandler, SanteDB.Core.Security.Tfa.Twilio, Version=1.1.0.0"/>
    <section name="santedb.messaging.hl7.notification.pixpdq" type="SanteDB.Messaging.HL7.Configuration.Hl7ConfigurationSectionHandler, SanteDB.Messaging.HL7, Version=1.1.0.0"/>
    <section name="santedb.persistence.reporting.psql" type="SanteDB.Persistence.Reporting.PSQL.Configuration.ConfigurationSectionHandler, SanteDB.Persistence.Reporting.PSQL, Version=1.1.0.0"/>
    <section name="santedb.warehouse.ado" type="SanteDB.Warehouse.ADO.Configuration.AdoConfigurationSectionHandler, SanteDB.Warehouse.ADO, Version=1.1.0.0"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="marc.hi.ehrs.qm.persistence.data" type="MARC.HI.EHRS.QM.Persistence.Data.Configuration.ConfigurationHandler, MARC.HI.EHRS.QM.Persistence.Data, Version=2.0.0.0"/>
    <section name="santedb.caching.redis" type="SanteDB.Caching.Redis.Configuration.RedisConfigurationHandler, SanteDB.Caching.Redis, Version=1.1.0.0"/>
    <section name="santedb.messaging.gs1" type="SanteDB.Messaging.GS1.Configuration.Gs1ConfigurationSection, SanteDB.Messaging.GS1, Version=1.1.0.0"/>
    <section name="marc.hi.ehrs.svc.auditing.atna" type="MARC.HI.EHRS.SVC.Auditing.Atna.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.SVC.Auditing.Atna, Version=1.1.0.0"/>
    <section name="santedb.persistence.auditing.ado" type="SanteDB.Persistence.Auditing.ADO.Configuration.AdoConfigurationSectionHandler, SanteDB.Persistence.Auditing.ADO, Version=1.1.0.0"/>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="PostgreSQL Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
      <add name="Firebird Data Provider" invariant="Fbsql" description="Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient, Version=5.12.1.0, Culture=neutral, PublicKeyToken=3750abcc3150b00c" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="wildcardUrl" value="localhost"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="DataSandboxTool">
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:8080/sandbox"/>
          </baseAddresses>
        </host>
        <endpoint address="http://0.0.0.0:8080/sandbox" binding="webHttpBinding" contract="SanteDB.Tools.DataSandbox.Wcf.IDataSandboxTool"/>
      </service>
      <service name="SwaggerWcf.SwaggerWcfEndpoint">
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:8080/api-docs"/>
          </baseAddresses>
        </host>
        <endpoint address="http://0.0.0.0:8080/api-docs" binding="webHttpBinding" contract="SwaggerWcf.ISwaggerWcfEndpoint"/>
      </service>
      <service name="GS1BMS" behaviorConfiguration="gs1_behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:8080/gs1"/>
          </baseAddresses>
        </host>
        <endpoint address="http://0.0.0.0:8080/gs1" binding="webHttpBinding" contract="GS1BMS" name="GS1BMS_Behavior" bindingConfiguration="gs1_binding"/>
      </service>
      <service name="MARC.HI.EHRS.SVC.Messaging.FHIR.Wcf.FhirServiceBehavior" behaviorConfiguration="fhir_Behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8080/fhir" />
          </baseAddresses>
        </host>
        <endpoint address="http://127.0.0.1:8080/fhir" contract="MARC.HI.EHRS.SVC.Messaging.FHIR.Wcf.IFhirServiceContract" binding="webHttpBinding" bindingConfiguration="fhir_Binding" />
      </service>
      <service name="SanteDB.Authentication.OAuth2" behaviorConfiguration="oauth2_behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:8080/auth"/>
          </baseAddresses>
        </host>
        <endpoint address="http://0.0.0.0:8080/auth" binding="webHttpBinding" name="SanteDB.Authentication.OAuth2" contract="SanteDB.Authentication.OAuth2" bindingConfiguration="oauth2_binding"/>
      </service>
      <service name="AMI" behaviorConfiguration="ami_behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:8080/ami"/>
          </baseAddresses>
        </host>
        <endpoint address="http://0.0.0.0:8080/ami" binding="webHttpBinding" name="AMI" contract="AMI_2.0" bindingConfiguration="ami_binding"/>
      </service>
      <service name="HDSI" behaviorConfiguration="hdsi_behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:8080/hdsi"/>
          </baseAddresses>
        </host>
        <endpoint address="http://0.0.0.0:8080/hdsi" binding="webHttpBinding" name="HDSI" contract="HDSI_1.0" bindingConfiguration="hdsi_binding"/>
      </service>
      <service name="RISI" behaviorConfiguration="risi_behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:8080/risi"/>
          </baseAddresses>
        </host>
        <endpoint address="http://0.0.0.0:8080/risi" binding="webHttpBinding" name="RISI" contract="RISI_1.0" bindingConfiguration="risi_binding"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="ami_binding" maxReceivedMessageSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="fhir_Binding">
          <security mode="None" >
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="oauth2_binding">
          <security mode="None">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="gs1_binding">
          <security mode="None">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="hdsi_binding">
          <security mode="None">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="risi_binding">
          <security mode="None">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="gs1_behavior">
          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceMetadata httpGetEnabled="False" httpGetUrl="http://0.0.0.0:8080/gs1" />
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="SanteDB.Core.Wcf.Security.TokenServiceAuthorizationManager, SanteDB.Core, Version=1.1.0.0" >
            <authorizationPolicies>
              <add policyType="SanteDB.Core.Wcf.Security.TokenAuthorizationPolicy, SanteDB.Core, Version=1.1.0.0"/>
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
        <behavior name="fhir_Behavior">
          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceMetadata httpGetEnabled="False" httpGetUrl="http://0.0.0.0:8080/fhir" />
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="SanteDB.Core.Wcf.Security.TokenServiceAuthorizationManager, SanteDB.Core, Version=1.1.0.0" >
            <authorizationPolicies>
              <add policyType="SanteDB.Core.Wcf.Security.TokenAuthorizationPolicy, SanteDB.Core, Version=1.1.0.0"/>
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
        <behavior name="oauth2_behavior">
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="SanteDB.Authentication.OAuth2.Wcf.ClientAuthorizationPolicy, SanteDB.Authentication.OAuth2, Version=1.1.0.0"/>
            </authorizationPolicies>
          </serviceAuthorization>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                    customUserNamePasswordValidatorType="SanteDB.Authentication.OAuth2.Wcf.ClientCredentialValidator, SanteDB.Authentication.OAuth2, Version=1.1.0.0"/>
          </serviceCredentials>
        </behavior>
        <behavior name="hdsi_behavior">
          <serviceDebug includeExceptionDetailInFaults="false" httpHelpPageEnabled="true" httpHelpPageUrl="http://0.0.0.0:8080/help/hdsi"/>
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="SanteDB.Core.Wcf.Security.TokenServiceAuthorizationManager, SanteDB.Core, Version=1.1.0.0" >
            <authorizationPolicies>
              <add policyType="SanteDB.Core.Wcf.Security.TokenAuthorizationPolicy, SanteDB.Core, Version=1.1.0.0"/>
            </authorizationPolicies>
          </serviceAuthorization>
          <serviceCredentials>
          </serviceCredentials>
        </behavior>
        <behavior name="ami_behavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="SanteDB.Core.Wcf.Security.TokenServiceAuthorizationManager, SanteDB.Core, Version=1.1.0.0" >
            <authorizationPolicies>
              <add policyType="SanteDB.Core.Wcf.Security.TokenAuthorizationPolicy, SanteDB.Core, Version=1.1.0.0"/>
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
        <behavior name="risi_behavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="SanteDB.Core.Wcf.Security.TokenServiceAuthorizationManager, SanteDB.Core, Version=1.1.0.0" >
            <authorizationPolicies>
              <add policyType="SanteDB.Core.Wcf.Security.TokenAuthorizationPolicy, SanteDB.Core, Version=1.1.0.0"/>
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="SanteDB.OrmLite" switchValue="Warning">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Persistence.Data.ADO" switchValue="Error">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Persistence.Data.ADO.Services.Identity" switchValue="Error">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Core.Model.Map" switchValue="Error">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Persistence.Data.MSSQL.Services.Persistence" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Persistence.Data.MSSQL.Services.Identity" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Caching.Memory" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Core.DataSet" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Messaging.AMI" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Messaging.HDSI" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Messaging.RISI" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="FirebirdSql.Data.FirebirdClient" switchName="Error">
        <listeners>
          <clear />
        </listeners>
      </source>
      <source name="SanteDB.Persistence.Reporting" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Tools.DataSandbox" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Messaging.FHIR" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Messaging.HL7" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="MARC.HI.EHRS.SVC.Messaging.FHIR" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Authentication.OAuth2" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Core" switchValue="Verbose">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Core.Map" switchValue="Verbose">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Core.Wcf" switchValue="Verbose">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Core.Api" switchValue="Verbose">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Messaging.Discovery.Swagger" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="SanteDB.Persistence.Reporting.PSQL" switchValue="Information">
        <listeners>
          <add name="console" />
        </listeners>
      </source>
      <source name="SanteDB.Reporting.Core" switchValue="Information">
        <listeners>
          <add name="console" />
        </listeners>
      </source>
      <source name="SanteDB.Reporting.Jasper" switchValue="Information">
        <listeners>
          <add name="console" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
      <add name="rollOver" type="MARC.HI.EHRS.SVC.Core.Logging.RollOverTextWriterTraceListener, MARC.HI.EHRS.SVC.Core, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" initializeData="santedb.log">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error, Information, Warning, Verbose" />
      </add>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="console" />
        <!--<add name="rollOver" />-->
      </listeners>
    </trace>
  </system.diagnostics>
  <marc.hi.ehrs.qm.persistence.data>
    <connectionManager connection="QRY"/>
  </marc.hi.ehrs.qm.persistence.data>
  <santedb.persistence.data.ado>
    <connectionManager readonlyConnection="FBSQL"
                       readWriteConnection="FBSQL"
                       traceSql="false"
                       autoInsertChildren="true"
                       provider="SanteDB.OrmLite.Providers.Firebird.FirebirdSQLProvider, SanteDB.OrmLite, Version=1.1.0.0"/>
  </santedb.persistence.data.ado>
  <santedb.caching.redis>
    <server>
      <add host="localhost" port="6379"/>
    </server>
  </santedb.caching.redis>
  <santedb.persistence.data.mssql>
    <connectionManager readonlyConnection="SanteDB" readWriteConnection="SanteDB" traceSql="false" keyedInserts="true"/>
  </santedb.persistence.data.mssql>
  <santedb.caching.memory autoRegister="true">
    <!--<cacheTarget>
      <add type="SanteDB.Core.Model.DataTypes.Concept, SanteDB.Core.Model, Version=1.1.0.0" maxAge="10:00:00:00" maxSize="2000">
        <seed>
          <add>statusConcept.mnemonic=ACTIVE</add>
        </seed>
      </add>
      <add type="SanteDB.Core.Model.Entities.Place, SanteDB.Core.Model, Version=1.1.0.0" maxAge="10:00:00:00" maxSize="2000">
        <seed>
          <add>statusConcept.mnemonic=ACTIVE</add>
        </seed>
      </add>
      <add type="SanteDB.Core.Model.Entities.ManufacturedMaterial, SanteDB.Core.Model, Version=1.1.0.0" maxAge="10:00:00:00" maxSize="2000">
        <seed>
          <add>statusConcept.mnemonic=ACTIVE</add>
        </seed>
      </add>
    </cacheTarget>-->
  </santedb.caching.memory>
  <santedb.authentication.oauth2>
    <!-- Tokens will be valid for 10 mins -->
    <token expiry="01:00:00:00" issuerName="http://142.222.97.55:8080/auth" tokenType="bearer"/>
    <claims>
      <add claimType="device-id"/>
      <add claimType="scope"/>
      <add claimType="urn:oasis:names:tc:xacml:2.0:resource:resource-id"/>
      <add claimType="urn:oasis:names:tc:xacml:2.0:action:purpose"/>
      <add claimType="urn:oasis:names:tc:xspa:1.0:subject:facility"/>
      <add claimType="urn:oasis:names:tc:xspa:1.0:subject:organization-id"/>
      <add claimType="urn:oasis:names:tc:xacml:1.0:subject:subject-id"/>
    </claims>
    <scopes>
      <add name="http://localhost:8080/hdsi"/>
      <add name="http://localhost:8080/ami"/>
      <add name="http://127.0.0.1:8080/hdsi"/>
      <add name="http://127.0.0.1:8080/ami"/>
      <add name="http://fyfej-yoga:8080/hdsi"/>
      <add name="http://fyfej-yoga:8080/ami"/>
      <add name="http://192.168.0.101:8080/ami"/>
      <add name="http://192.168.0.101:8080/hdsi"/>
      <add name="http://192.168.137.172:8080/hdsi"/>
      <add name="http://192.168.137.172:8080/ami"/>
      <add name="http://142.222.97.55:8080/hdsi"/>
      <add name="http://142.222.97.55:8080/ami"/>
      <add name="http://nityan-pc:8080/hdsi" />
      <add name="http://nityan-pc:8080/ami" />
      <add name="http://marc-w6-1.marc-hi.ca:8080/hdsi" />
      <add name="http://marc-w6-1.marc-hi.ca:8080/ami" />
      <add name="https://marc-w6-1.marc-hi.ca:8080/hdsi" />
      <add name="https://marc-w6-1.marc-hi.ca:8080/ami" />

    </scopes>
  </santedb.authentication.oauth2>
  <santedb.core>
    <threading poolSize="16"/>
    <security>
      <signing>

        <!--<certificate storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" findValue="d877626afbacb63993cfbd65fafcfef36ba6a4f1"/>-->
        <!--
      <certificate storeLocation="Local" storeName="" x509FindType="" findValue=""/>
      -->
        <symmetric key="7Xs2bnXWqkSGQcr3s5S92vl32I+URZCgQIi7BBTxWq0="/>
      </signing>

      <!-- Security section - To allow for unsigned applets to be loaded use the allowUnsignedApplets="true" attribute below -->
      <applet allowUnsignedApplets="true">
        <trustedPublishers>
          <add>84BD51F0584A1F708D604CF0B8074A68D3BEB973</add>
        </trustedPublishers>
      </applet>
      <token realm="localhost">
        <audience>
          <add name="http://localhost:8080/hdsi"/>
          <add name="http://localhost:8080/ami"/>
          <add name="http://127.0.0.1:8080/hdsi"/>
          <add name="http://127.0.0.1:8080/ami"/>
          <add name="http://fyfej-yoga:8080/hdsi"/>
          <add name="http://fyfej-yoga:8080/ami"/>
          <add name="http://192.168.0.101:8080/ami"/>
          <add name="http://192.168.0.101:8080/hdsi"/>
          <add name="http://192.168.137.172:8080/hdsi"/>
          <add name="http://192.168.137.172:8080/ami"/>
          <add name="http://142.222.97.55:8080/hdsi"/>
          <add name="http://142.222.97.55:8080/ami"/>
          <add name="http://nityan-pc:8080/hdsi" />
          <add name="http://nityan-pc:8080/ami" />
          <add name="http://marc-w6-1.marc-hi.ca:8080/hdsi" />
          <add name="http://marc-w6-1.marc-hi.ca:8080/ami" />
          <add name="https://marc-w6-1.marc-hi.ca:8080/hdsi" />
          <add name="https://marc-w6-1.marc-hi.ca:8080/ami" />
        </audience>
        <issuer>
          <add name="http://142.222.97.55:8080/auth" symmetricKey="7Xs2bnXWqkSGQcr3s5S92vl32I+URZCgQIi7BBTxWq0="/>
        </issuer>
      </token>
      <basic requireClientAuth="true" realm="192.168.0.102">
        <allowedClaims>
          <add claimType="urn:oasis:names:tc:xacml:2.0:action:purpose"/>
        </allowedClaims>
      </basic>
    </security>
  </santedb.core>
  <marc.hi.ehrs.svc.messaging.fhir>
    <service landingPage="C:\Program Files\Mohawk College\SanteDB\index.htm" wcfServiceName="MARC.HI.EHRS.SVC.Messaging.FHIR.WcfCore.FhirServiceBehavior" />
    <resourceProcessors>
      <add type="SanteDB.Messaging.FHIR.Handlers.EncounterResourceHandler, SanteDB.Messaging.FHIR, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="SanteDB.Messaging.FHIR.Handlers.AdverseEventResourceHandler, SanteDB.Messaging.FHIR, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="SanteDB.Messaging.FHIR.Handlers.AllergyIntoleranceResourceHandler, SanteDB.Messaging.FHIR, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="SanteDB.Messaging.FHIR.Handlers.ConditionResourceHandler, SanteDB.Messaging.FHIR, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="SanteDB.Messaging.FHIR.Handlers.LocationResourceHandler, SanteDB.Messaging.FHIR, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="SanteDB.Messaging.FHIR.Handlers.MedicationResourceHandler, SanteDB.Messaging.FHIR, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="SanteDB.Messaging.FHIR.Handlers.ObservationResourceHandler, SanteDB.Messaging.FHIR, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="SanteDB.Messaging.FHIR.Handlers.SubstanceResourceHandler, SanteDB.Messaging.FHIR, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="SanteDB.Messaging.FHIR.Handlers.PatientResourceHandler, SanteDB.Messaging.FHIR, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="SanteDB.Messaging.FHIR.Handlers.ImmunizationRecommendationResourceHandler, SanteDB.Messaging.FHIR, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="SanteDB.Messaging.FHIR.Handlers.ImmunizationResourceHandler, SanteDB.Messaging.FHIR, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
    </resourceProcessors>
    <cors>
      <add resource="*" domain="*">
        <action>GET</action>
        <action>OPTIONS</action>
        <action>PATCH</action>
        <action>PUT</action>
        <action>HEAD</action>
        <action>POST</action>
        <header>Accept</header>
        <header>Content-Type</header>
        <header>Content-Encoding</header>
        <header>Accept-Encoding</header>
      </add>
    </cors>
  </marc.hi.ehrs.svc.messaging.fhir>
  <santedb.messaging.hdsi>
    <service wcfServiceName="hdsiService"/>
  </santedb.messaging.hdsi>
  <santedb.messaging.ami>
    <ca autoApprove="false" name="" serverName="" />
  </santedb.messaging.ami>

  <!-- JF: The following section is no longer required under SC2 -->
  <marc.hi.ehrs.svc.messaging.multi>
    <handlers>
    </handlers>
  </marc.hi.ehrs.svc.messaging.multi>
  <marc.hi.ehrs.svc.messaging.hapi>
    <services>
      <service name="LLP Listener" timeout="00:00:30" address="llp://0.0.0.0:2100">
        <handler type="SanteDB.Messaging.HL7.Messages.AdtMessageHandler, SanteDB.Messaging.HL7, Version=1.1.0.0">
          <message name="ADT^A01"/>
          <message name="ADT^A04"/>
          <message name="ADT^A05"/>
          <message name="ADT^A08"/>
        </handler>
      </service>
    </services>
  </marc.hi.ehrs.svc.messaging.hapi>
  <marc.hi.ehrs.svc.core>
    <system>
      <device id="1.3.6.1.4.1.33349.3.1.5.9" name="SanteDB"/>
    </system>
    <!-- Custodial information for records -->
    <custodianship>
      <name>SanteDB</name>
      <!-- Identifies the domain under which identifiers are reported from this registry -->
      <id domain="1.3.6.1.4.1.33349.3.1.5.9.0" value="SanteDB1"/>
    </custodianship>
    <!-- Realm that the persistence engine is running within -->
    <jurisdiction>
      <name>SanteDB</name>
      <id domain="1.3.6.1.4.1.33349.3.1.5.9.0" value="HI"/>
      <!-- The next three lines identify the realm (roots) that should be
      returned in messages when communicating with external entities-->
      <clientExport domain="1.3.6.1.4.1.33349.3.1.2.1.0"/>
      <providerExport domain="1.3.6.1.4.1.33349.3.1.2.1.1"/>
      <sdlExport domain="1.3.6.1.4.1.33349.3.1.2.1.2"/>
      <defaultLanguageCode code="en"/>
    </jurisdiction>
    <serviceProviders>
      <!--<add type="SanteDB.Persistence.Data.MSSQL.Services.SqlServerPersistenceService, SanteDB.Persistence.Data.MSSQL, Version=1.1.0.0"/>
      <add type="SanteDB.Persistence.Data.MSSQL.Services.SqlPolicyInformationService, SanteDB.Persistence.Data.MSSQL, Version=1.1.0.0"/>
      <add type="SanteDB.Persistence.Data.MSSQL.Services.SqlRoleProvider, SanteDB.Persistence.Data.MSSQL, Version=1.1.0.0"/>
      <add type="SanteDB.Persistence.Data.MSSQL.Services.SqlIdentityProvider, SanteDB.Persistence.Data.MSSQL, Version=1.1.0.0"/>
      <add type="SanteDB.Persistence.Data.MSSQL.Services.SqlApplicationIdentityProvider, SanteDB.Persistence.Data.MSSQL, Version=1.1.0.0"/>-->

      <add type="SanteDB.Persistence.Data.ADO.Services.AdoApplicationIdentityProvider, SanteDB.Persistence.Data.ADO, Version=1.1.0.0"/>
      <add type="SanteDB.Persistence.Data.ADO.Services.AdoDeviceIdentityProvider, SanteDB.Persistence.Data.ADO, Version=1.1.0.0"/>
      <add type="SanteDB.Persistence.Data.ADO.Services.AdoPersistenceService, SanteDB.Persistence.Data.ADO, Version=1.1.0.0"/>
      <add type="SanteDB.Persistence.Data.ADO.Services.AdoPolicyInformationService, SanteDB.Persistence.Data.ADO, Version=1.1.0.0"/>
      <add type="SanteDB.Persistence.Data.ADO.Services.AdoRoleProvider, SanteDB.Persistence.Data.ADO, Version=1.1.0.0"/>
      <add type="SanteDB.Persistence.Data.ADO.Services.AdoIdentityProvider, SanteDB.Persistence.Data.ADO, Version=1.1.0.0"/>
      <add type="SanteDB.Persistence.Data.ADO.Services.AdoSessionProvider, SanteDB.Persistence.Data.ADO, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalTagPersistenceService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Security.SHA256PasswordHashingService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Messaging.HDSI.HdsiMessageHandler, SanteDB.Messaging.HDSI, Version=1.1.0.0"/>
      <add type="SanteDB.Messaging.RISI.RisiMessageHandler, SanteDB.Messaging.RISI, Version=1.1.0.0"/>
      <add type="SanteDB.Messaging.AMI.AmiMessageHandler, SanteDB.Messaging.AMI, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalConceptRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalPatientRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Authentication.OAuth2.OAuthMessageHandler, SanteDB.Authentication.OAuth2, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Security.LocalPolicyDecisionService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Persistence.DataInitializationService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.NullPhoneticAlgorithmHandler, SanteDB.Core.Api, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalSecurityRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalMaterialRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalPlaceRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalProviderRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalPersonRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalMetadataRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalActRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.FileSystemQueueService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalMailMessageRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalOrganizationRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalIdentifierTypeRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalAssigningAuthorityRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalStockManagementRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalEntityRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.SimplePatchService, SanteDB.Core.Api, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalBatchRepositoryService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.ThreadPoolService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalServiceManager, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Persistence.Diagnostics.Jira.DiagnosticReportPersistenceService, SanteDB.Persistence.Diagnostics.Jira, Version=1.1.0.0"/>
      <add type="SanteDB.Caching.Memory.MemoryCacheService, SanteDB.Caching.Memory, Version=1.1.0.0"/>
      <!--<add type="SanteDB.Caching.Redis.RedisCacheService, SanteDB.Caching.Redis, Version=1.1.0.0"/>-->
      <add type="MARC.HI.EHRS.SVC.Core.Timer.TimerService, MARC.HI.EHRS.SVC.Core.Timer, Version=1.1.0.0"/>
      <add type="MARC.HI.EHRS.SVC.Messaging.Multi.MultiMessageHandler, MARC.HI.EHRS.SVC.Messaging.Multi, Version=2.0.0.0"/>
      <add type="SanteDB.Messaging.HL7.Services.ClientRegistryNotificationService, SanteDB.Messaging.HL7, Version=1.1.0.0"/>
      <add type="SanteDB.Messaging.HL7.Subscriber.BundlePersistenceSubscriber, SanteDB.Messaging.HL7, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Security.DefaultTfaRelayService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Security.SimpleTfaSecretGenerator, SanteDB.Core, Version=1.1.0.0"/>
      <!--<add type="SanteDB.Core.Security.Tfa.Email.TfaEmailMechanism, SanteDB.Core.Security.Tfa.Email, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Security.Tfa.Twilio.TfaTwilioMechanism, SanteDB.Core.Security.Tfa.Twilio, Version=1.1.0.0"/>-->
      <!--<add type="SanteDB.Persistence.Reporting.PSQL.ReportingPersistenceService, SanteDB.Persistence.Reporting.PSQL, Version=1.1.0.0"/>-->
      <add type="SanteDB.Messaging.GS1.StockServiceMessageHandler, SanteDB.Messaging.GS1, Version=1.1.0.0"/>
      <add type="SanteDB.Messaging.GS1.StockSubscriber, SanteDB.Messaging.GS1, Version=1.1.0.0"/>
      <add type="SanteDB.Messaging.GS1.Transport.AS2.As2IntegrationService, SanteDB.Messaging.GS1, Version=1.1.0.0"/>
      <add type="SanteDB.Persistence.Data.ADO.Services.AdoOidRegistrarService, SanteDB.Persistence.Data.ADO, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Daemons.AppletBusinessRulesDaemon, SanteDB.Core, Version=1.1.0.0" />
      <add type="SanteDB.Persistence.Data.ADO.Services.AdoOidRegistrarService, SanteDB.Persistence.Data.ADO, Version=1.0.0.0"/>
      <add type="SanteDB.Core.Services.Daemons.AppletBusinessRulesDaemon, SanteDB.Core, Version=1.0.0.0" />
      <add type="SanteDB.Core.Services.Impl.LocalAppletManagerService, SanteDB.Core, Version=1.0.0.0"/>
      <!--<add type="MARC.HI.EHRS.QM.Persistence.Data.AdoQueryPersistenceService, MARC.HI.EHRS.QM.Persistence.Data, Version=2.0.0.0"/>-->
      <add type="SanteDB.Protocol.Xml.AppletClinicalProtocolRepository, SanteDB.Protocol.Xml, Version=1.0.0.0"/>
      <add type="SanteDB.Core.Protocol.SimpleCarePlanService, SanteDB.Core.Api, Version=1.0.0.0"/>
      <add type="SanteDB.Warehouse.ADO.ADODataWarehouse, SanteDB.Warehouse.ADO, Version=1.0.0.0"/>
      <add type="SanteDB.Protocol.Xml.AppletClinicalProtocolRepository, SanteDB.Protocol.Xml, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Protocol.SimpleCarePlanService, SanteDB.Core.Api, Version=1.1.0.0"/>
      <add type="SanteDB.Warehouse.ADO.ADODataWarehouse, SanteDB.Warehouse.ADO, Version=1.1.0.0"/>
      <add type="SanteDB.Reporting.Jasper.JasperReportExecutor, SanteDB.Reporting.Jasper, Version=1.1.0.0" />
      <add type="SanteDB.Core.Security.Audit.AuditDaemonService, SanteDB.Core, Version=1.1.0.0"/>
      <add type="MARC.HI.EHRS.SVC.Auditing.Atna.AtnaAuditService, MARC.HI.EHRS.SVC.Auditing.Atna, Version=2.0.0.0"/>
      <add type="MARC.HI.EHRS.SVC.Messaging.HAPI.HL7MessageHandler, MARC.HI.EHRS.SVC.Messaging.HAPI, Version=2.0.0.0"/>
      <add type="MARC.HI.EHRS.SVC.Messaging.FHIR.FhirMessageHandler, MARC.HI.EHRS.SVC.Messaging.FHIR, Version=2.0.0.0"/>
      <add type="SanteDB.Persistence.Auditing.ADO.Services.AdoAuditRepositoryService, SanteDB.Persistence.Auditing.ADO, Version=1.1.0.0"/>
      <add type="SanteDB.Core.Services.Impl.LocalAuditRepository, SanteDB.Core, Version=1.1.0.0"/>
      <add type="SanteDB.Messaging.Discovery.Swagger.SwaggerDaemonService, SanteDB.Messaging.Discovery.Swagger, Version=1.1.0.0"/>
      <add type="SanteDB.Tools.DataSandbox.DataSandboxService, SanteDB.Tools.DataSandbox, Version=1.1.0.0"/>
    </serviceProviders>
  </marc.hi.ehrs.svc.core>
  <santedb.reporting.core>
    <reportEngine type="SanteDB.Reporting.Jasper.JasperReportExecutor, SanteDB.Reporting.Jasper, Version=1.1.0.0" address="http://jasperintl.marc-hi.ca:8080/jasperserver"/>
    <credentials type="UsernamePassword">
      <credential username="jasperadmin" password="jasperadmin" />
    </credentials>
  </santedb.reporting.core>
  <santedb.reporting.jasper>
    <engine reportPath="" />
  </santedb.reporting.jasper>
  <santedb.persistence.diagnostics.jira>
    <jira url="http://jira.marc-hi.ca/rest" project="BID"/>
    <auth username="tech_exchange" password=""/>
  </santedb.persistence.diagnostics.jira>
  <santedb.core.security.tfa.email>
    <smtp server="" ssl="" username="" password="" />
  </santedb.core.security.tfa.email>
  <santedb.core.security.tfa.twilio>
    <sms sid="" auth="" from="" />
  </santedb.core.security.tfa.twilio>
  <santedb.messaging.hl7.notification.pixpdq concurrencyLevel="2">
    <targets>
      <add connectionString="llp://crtest.marc-hi.ca:2100" deviceId="CRTEST|Mohawk College of Applied Arts and Technology" name="CRTEST" myActor="PAT_IDENTITY_SRC">
        <notify domain="1.3.6.1.4.1.33349.3.1.5.9.2.10000">
          <action type="Any"/>
        </notify>
        <notify domain="1.3.6.1.4.1.33349.3.1.5.102.4.1">
          <action type="Any"/>
        </notify>
        <notify domain="0.0.0.0">
          <action type="Any"/>
        </notify>
      </add>
    </targets>
  </santedb.messaging.hl7.notification.pixpdq>
  <santedb.persistence.reporting.psql>
    <connectionManager readonlyConnection="SanteDBReporting"
                       readWriteConnection="SanteDBReporting"
                       traceSql="true"
                       autoUpdateExisting="true"
                       provider="SanteDB.OrmLite.Providers.Postgres.PostgreSQLProvider, SanteDB.OrmLite, Version=1.1.0.0"/>
  </santedb.persistence.reporting.psql>
  <marc.hi.svc.core.timer>
  </marc.hi.svc.core.timer>
  <santedb.warehouse.ado>
    <connectionManager readonlyConnection="SanteDBWarehouse"
                          readWriteConnection="SanteDBWarehouse"
                          traceSql="false"
                          provider="SanteDB.OrmLite.Providers.Postgres.PostgreSQLProvider, SanteDB.OrmLite, Version=1.1.0.0"/>
  </santedb.warehouse.ado>
  <marc.hi.ehrs.svc.auditing.atna messagePublisher="AtnaApi.Transport.UdpSyslogTransport, AtnaApi, Version=1.1.0.0" format="RFC-3881">
    <destination endpoint="127.0.0.1:514" />
  </marc.hi.ehrs.svc.auditing.atna>
  <santedb.messaging.gs1 autoCreateMaterials="true" defaultAuthority="VIMS_OTHER" queueName="gs1">
    <broker useAs2MimeEncoding="false" enableTracing="false">
      <endpoint>
        <add address="http://localhost:8080/gs1" timeout="10000"/>
      </endpoint>
      <binding optimize="false"></binding>
    </broker>
  </santedb.messaging.gs1>
  <santedb.persistence.auditing.ado>
    <connectionManager readonlyConnection="SanteDBAudit"
                          readWriteConnection="SanteDBAudit"
                          traceSql="false"
                          provider="SanteDB.OrmLite.Providers.Postgres.PostgreSQLProvider, SanteDB.OrmLite, Version=1.1.0.0"/>
  </santedb.persistence.auditing.ado>
  <connectionStrings>
    <add name="SanteDBWarehouse" connectionString="server=192.168.100.110;port=5432; database=santedb_dw; user id=santedb; password=santedb; pooling=true; MinPoolSize=10; MaxPoolSize=30; Timeout=10; " providerName="Npgsql"/>
    <add name="SanteDBAudit" connectionString="server=192.168.100.110;port=5432; database=santedb_audit; user id=santedb; password=santedb; pooling=true; MinPoolSize=10; MaxPoolSize=30; Timeout=10; " providerName="Npgsql"/>
    <add name="PSQL_CLIN" connectionString="server=192.168.100.110;port=5432; database=santedb; user id=santedb; password=santedb; pooling=true; MinPoolSize=10; MaxPoolSize=30; Timeout=10; " providerName="Npgsql"/>
    <add name="PSQL_RW" connectionString="server=192.168.100.110;port=5432; database=santedb; user id=santedb; password=santedb; pooling=true; MinPoolSize=10; MaxPoolSize=30; Timeout=10; " providerName="Npgsql"/>
    <add name="PSQL_RO" connectionString="server=192.168.100.110;port=5432; database=santedb; user id=santedb; password=santedb; pooling=true; MinPoolSize=10; MaxPoolSize=30; Timeout=10; " providerName="Npgsql"/>
    <add name="FBSQL" connectionString="initial catalog=sdb_sample.fdb;server type=Embedded;user id=sysdba" providerName="Fbsql" />

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
