<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MARC.HI.EHRS.SVC.Auditing.Core" version="2.0.0" targetFramework="net45" />
  <package id="MARC.HI.EHRS.SVC.Configuration" version="2.0.0" targetFramework="net45" />
  <package id="MARC.HI.EHRS.SVC.Core" Version="2.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="SwaggerWcf.MEDIC" version="0.2.9" targetFramework="net45" />
</packages>